<mat-toolbar color="primary" class="mat-elevation-z6">
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span> Material Icons </span>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button (click) ="showAlert();" *ngIf="isShowButton" mat-button> <mat-icon svgIcon="content_copy"></mat-icon> Copy</button>
      <div *ngIf="isShowButton">&nbsp;&nbsp;</div>
      <app-searchbar></app-searchbar>
      <div>&nbsp;&nbsp;</div>
      <button mat-button > How to use?</button>
    </div>
    
  </mat-toolbar-row>
</mat-toolbar>