/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #d8d8d8;
}
app-root {
    display: block;
    height: 100%;
}
app-footer {
    background-color: #ececec;
    padding: 5px;
    border-top: 1px #d0d0d0 solid;
}
.router-outlet {
    overflow: auto;
}
.mat-padding {
    padding: 16px;
}
.mat-card{
    padding : 11px !important;
    border: 1px #bdbdbd7d solid;
    border-radius: 8px !important;
  
}

mat-card-content .mat-button{    border: 1px #6b33bd4d solid;
    padding: 0 !important;
    min-width: 60px;
    color: #6b33bd;
    background-color: white;
    border-radius: 4px 4px 0 0;}
mat-card-content    .mat-form-field-appearance-legacy .mat-form-field-underline {    background-color: rgba(107, 51, 189, 0.56);}