<div class=" clearfix  mat-padding">
  <div class="inline"  
    *ngFor="let icon of (icons | filter : searchByIconName); index as i;">
      <mat-card (click) ="activeItem(icon, i)" (click) ="copyText(icon)"
      [ngClass] ="{'active' : isActiveItem == icon}"
      fxLayout="column" class="spaceall">
        <mat-card-content fxLayout="column" fxLayoutAlign="space-between center">
          <mat-icon [svgIcon] ="icon" size="50" ></mat-icon>
          <p class="title">{{icon}}</p>
        </mat-card-content>
      </mat-card>

  </div>  
</div>